<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Door Lock</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/room3/door.css" />
</head>

<body class="flex items-center justify-center h-screen bg-[#fefae0]">
  <div class="bg-white p-6 rounded-2xl shadow-xl w-96 border-2 border-[#a3b18a]">
    <h1 class="text-2xl text-[#344e41] font-semibold mb-6 text-center font-sans">Nhập Mật Khẩu</h1>
    <h3 class="text-gray-500 text-center mb-2 text-lg italic">{{hint}}</h3>
    <p class="text-red-700 text-center mb-2 text-md">{{instructions}}</p>
    
    <div class="space-y-3 mb-6">
      <input type="text" class="answer-input" placeholder="Yếu tố 1">
      <input type="text" class="answer-input" placeholder="Yếu tố 2">
      <input type="text" class="answer-input" placeholder="Yếu tố 3">
    </div>

    <p id="message" class="text-center text-[#588157] mb-4 font-medium h-6"></p>

    <div class="flex justify-between">
      <button onclick="window.location.href='http://localhost:8080/room3'" class="btn-back">← Trở về</button>
      <button onclick="checkTextInput()" class="btn-submit">Mở khóa</button>
    </div>
  </div>

  <div id="complete-popup" class="popup-overlay" style="display: none;">
    <div class="popup-content relative">
      <span class="popup-close" onclick="closePopup()">×</span>
      <h2 class="popup-title">{{completeMessage}}</h2>
      <p class="popup-text">{{completeInfo}}</p>
      <button onclick="window.location.href='http://localhost:8080';" class="btn-exit">Thoát</button>
    </div>
  </div>

  <script>
    const correctAnswers = {{{ json unlockCodeArray }}};
  </script>
  <script src="/js/room3/door.js"></script>
</body>

</html>