<h1>{{hotspot.name}}</h1>
<p><strong>Clue:</strong> {{hotspot.clue}}</p>
<p><strong>Message:</strong> {{hotspot.message}}</p>

<h2>Minigames</h2>
{{#each hotspot.interactionData}}
<div class="minigame">
  <h3>{{this.name}}</h3>
  {{#if this.question}}
  <p><strong>Question:</strong> {{this.question}}</p>
  {{/if}}
  {{#if this.options}}
  <ul>
    {{#each this.options}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  {{/if}}
  {{#if this.answer}}
  <p><strong>Answer:</strong> {{this.answer}}</p>
  {{/if}}
</div>
{{/each}}