<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Door Lock</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/room1/door.css" />
</head>

<body class="flex items-center justify-center h-screen bg-[#1d1007]">
    <div class="door-container">
        <h1 class="title"> Nhập Mật Khẩu</h1>
        <p class="text-yellow-200 text-center mb-2 text-md">{{instructions}}</p>
        <p class="text-gray-400 text-center mb-4 text-md italic">{{hint}}</p>
        <div id="display" class="code-display">____</div>

        <div class="grid grid-cols-3 gap-3 mb-4">
            <button onclick="addNumber(1)" class="key-btn">1</button>
            <button onclick="addNumber(2)" class="key-btn">2</button>
            <button onclick="addNumber(3)" class="key-btn">3</button>
            <button onclick="addNumber(4)" class="key-btn">4</button>
            <button onclick="addNumber(5)" class="key-btn">5</button>
            <button onclick="addNumber(6)" class="key-btn">6</button>
            <button onclick="addNumber(7)" class="key-btn">7</button>
            <button onclick="addNumber(8)" class="key-btn">8</button>
            <button onclick="addNumber(9)" class="key-btn">9</button>
            <button onclick="backspace()" class="action-btn bg-yellow-700 hover:bg-yellow-600">Xoá</button>
            <button onclick="addNumber(0)" class="key-btn">0</button>
            <button onclick="clearCode()" class="action-btn bg-blue-700 hover:bg-blue-600">Xoá Hết</button>
        </div>


        <div class="flex justify-between">
            <button onclick="window.location.href='http://localhost:8080/room1'" class="btn-back">← Trở về</button>
            <button onclick="checkCode()" class="btn-submit">Mở khóa</button>
        </div>

        <p id="message" class="feedback-text"></p>
    </div>

    <div id="complete-popup" class="popup-overlay" style="display: none;">
        <div class="popup-content relative">
            <span class="popup-close" onclick="closePopup()">×</span>
            <h2 class="popup-title">{{completeMessage}}</h2>
            <p class="popup-text">{{completeInfo}}</p>
            <button onclick="window.location.href='http://localhost:8080';" class="btn-exit">Thoát</button>
        </div>
    </div>

    <script>
        const correctCode = {{ json unlockCodeArray }};
    </script>
    <script src="/js/room1/door.js"></script>
</body>

</html>