<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <title>Quản lý tài khoản</title>
  <link rel="stylesheet" href="/css/admin/accounts.css">
</head>

<body>

  <h2>Danh sách tài khoản người dùng</h2>
  <table>
    <thead>
      <tr>
        <th>Tên đăng nhập</th>
        <th>Email</th>
        <th>Trạng thái</th>
        <th>Ngày tạo</th>
        <th>Đăng nhập gần nhất</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{this.username}}</td>
        <td>{{this.email}}</td>
        <td>
          {{#if (eq this.status "active")}}
          <span class="status-active">Hoạt Động</span>
          {{else}}
          <span class="status-inactive">Ngừng Hoạt Động</span>
          {{/if}}
        </td>
        <td>{{formatDate this.profile.createdAt}}</td>
        <td>{{formatDate this.lastLogin}}</td>
        <td>
          <div class="actions">
            <form action="/admin/account/{{this._id}}" method="GET">
              <button type="submit" class="btn view-button">Chi tiết</button>
            </form>

            {{#if (eq this.status "active")}}
            <form action="/admin/account/{{this._id}}/deactivate" method="POST">
              <button type="submit" class="btn deactivate-button">Vô hiệu hóa</button>
            </form>
            {{else}}
            <form action="/admin/account/{{this._id}}/activate" method="POST">
              <button type="submit" class="btn activate-button">Kích hoạt</button>
            </form>
            {{/if}}
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <button onclick="window.location.href='/admin/dashboard'" class="back-button">← Quay lại</button>

</body>

</html>